<!doctype html>
<html>
  <title>Twitter Sentiment Analysis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <body>
        <header class="w3-container w3-teal">
          <h1>Twitter Sentiment Analysis</h1>
        </header>

        <div class="w3-container">
            <p>Welcome!</p>
            <p>This app does sentiment analysis of the most recent tweets (up to a 100) in English containing a given hashtag!<br/>
            With this you can assess if a given fact/person/event is having positive or negative effects on twitter!</p>
      
          
          {% from "_formhelpers.html" import render_field %}
          <form method=post action="/results">
              <b>Please enter your hashtag:</b> <br/>
              {{ render_field(form.hashtag, size='25') }}
              <b style='color:red'>{{ error }}</b>
              <br/><br/>
              <input type=submit value='Submit hashtag' name='submit_btn'>
          </form>
            
          <hr>
          <br/>
            <div class="w3-container w3-pale-green w3-bottombar w3-border-green w3-border">
              <p><b>Credits:</b> Ricardo Carvalho (ricardosc at gmail.com)
                  <li>To understand how this sentiment analysis is done, go to <a target='_blank' href='http://ricardoscr.github.io/portfolio/twitter-sentiment-analysis'>this page</a>.</li>
                  <li>Complete code for this app <a target='_blank' href='https://github.com/ricardoscr/twitter_sentiment_analysis_with_python'>available on Github</a>.</li>
                  <li>For more apps from the author, see the <a target='_blank' href='http://ricardoscr.github.io/portfolio/'>portfolio page</a>.
                      </p>
            </div>
      </div>
  </body>
</html>